*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    scroll-behavior: smooth;
  }

  .clearfix::after{
    content: "";
    display: table;
    clear: both;
  }

  /* INTESTAZIONE */


  header{
    height: 50px;  
    position: relative;               
    background-color: rgba(49,97,224,255);
    padding: 10px 0;
}

.container-center{
    /* width: 90%; */
    max-width: 1180px;  
    /* va bene anche solo una larghezza fissa con max-widht */
    margin: 0 auto;  
    
}

nav ul li{
    display: inline-block;
    list-style-type: none; 
}

nav ul li a{
    text-decoration: none;
    color: white;
    padding: 0 25px;
}

#logo{
    float: left; 
    vertical-align: middle;
}

.menu{
    float: left;
    width: calc(100% - 200px);
    text-align: center;
}

.accedi{
    float: right;
}



/* CORPO */



.img-sfondo{
    min-height: 546px;
    background-image: url(./img/jumbo.png);
    background-size: cover;
    /* background-repeat: no-repeat; */
    /* (con il COVER il no-repeat non serve) */
    position: relative;
}

.testo-sfondo{
    width: 900px;
    margin: 0 auto;
    /* float: ; */
    color: white;
    text-align: center;
    position: absolute;
    top: 200px;
    left: 400px;
    font-size: 1.5em;
}

.sfondo-bianco{
    min-height: 546px;
    /* width: 100%; */
    background-color: white;    
}

.sfondo-grigio{
    background-color: rgba(246,246,246,255);
    min-height: 546px;
}

.quarto-quadrante{  
    padding: 10px 0;
    background-color:rgba(246,246,246,255);
    height: 100vh;
}

/* PRIMO QUADRANTE */

.column1{
    float: left;
    width: 50%;
    margin-left: 124px;
    margin-top: 50px;
}

.column2{
    float: right;
    width: 20%;
    margin-right: 366px;
    margin-top: 155px;
}

/* SECONDO QUADRANTE */

.column3{
    float: right;
    width: 50%;
    margin-left: 130px;
    margin-top: 50px;
}

.column4{
    float: left;
    width: 20%;
    margin-left: 345px;
    margin-top: 240px;
}


/* TERZO QUADRANTE */

.column5{
    float: left;
    width: 50%;
    margin-left: -55px;
    margin-top: 0px;
}

.column6{
    float: right;
    width: 20%;
    margin-right: 333px;
    margin-top: 240px;
}



/* SECONDO QUADRANTE */

/* .pagina-2{
    border: solid red 3px;
} */

/* .img-2{
    float: right;
    padding-right: 250px;
    padding-top: 50px;

} */

/* TERZO QUADRANTE */

/* .pagina-3{
    border: solid green 3px;
} */


.img-3{
    float: left;
    padding-left: 250px;
    padding-top: 50px;

}

/* QUARTO QUADRANTE */

.img-4{
    float: left;
}


/* FOOTER  */

.sfondo-nero{
    background-color: rgba(35,39,42,255);
    min-height: 546px;
    background-size: contain;
}
