*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    scroll-behavior: smooth;
  }

  .clearfix::after{
    content: "";
    display: table;
    clear: both;
  }

  /* INTESTAZIONE */

  header{
    height: 50px;                 
    position: relative;
    background-color: rgba(49,97,224,255);
}

.container-center{
    width: 90%;
    max-width: 1180px;  
    /* va bene anche solo una larghezza fissa con max-widht */
    margin: 0 auto;  
    position: relative;
}


nav ul li{
    display: inline-block;
    list-style-type: none; 
}

nav ul li a{
    text-decoration: none;
    color: white;
}

#logo{
    float: left; 
    vertical-align: middle;

}

.menu{
    float: right;
    text-align: center;
}

.accedi{
    float: right;
}













/* .barra{
    border: solid black 1px;
    background-color: cadetblue;
    margin-left: 150px;
    height: 50px;
    width: 80%;
} */








.menu{
    text-align: center;
}


.view{
    height: 100vh;
    border: solid black 1px;
    background-color: cadetblue;
} */




/* CORPO */


.mezza-view{
    height: 50%;
    border: solid black 1px;
    background-color: rgba(49,97,224,255);
    /* transform:translate( -50%, -50%); */
}



/* FOOTER  */


