*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    scroll-behavior: smooth;
  }

  .clearfix::after{
    content: "";
    display: table;
    clear: both;
  }

  /* INTESTAZIONE */


  header{
    height: 50px;                 
    position: relative;
    background-color: rgba(49,97,224,255);
    padding: 10px 0;
}

.container-center{
    /* width: 90%; */
    max-width: 1180px;  
    /* va bene anche solo una larghezza fissa con max-widht */
    margin: 0 auto;  
    
}

nav ul li{
    display: inline-block;
    list-style-type: none; 
}

nav ul li a{
    text-decoration: none;
    color: white;
    padding: 0 25px;
}

#logo{
    float: left; 
    vertical-align: middle;
}

.menu{
    float: left;
    width: calc(100% - 200px);
    text-align: center;
}

.accedi{
    float: right;
}



/* CORPO */



.img-sfondo{
    min-height: 546px;
    background-image: url(./img/jumbo.png);
    background-size: cover;
    /* background-repeat: no-repeat; */
    /* (con il COVER il no-repeat non serve) */
}

.testo-sfondo{
    width: 900px;
    margin: 0 auto;
    /* float: ; */
    color: white;
    text-align: center;
}

.sfondo-bianco{
    min-height: 546px;
    background-color: white;
    background-size: repeat;
}

/* .sfondo-onde{
    min-height: 546px;
    background-image: url(./img/wave.svg);
    background-size: contain;  
} */

.sfondo-grigio{
    background-color: rgba(246,246,246,255);
    min-height: 546px;
    background-size: contain;
}


.quarto-quadrante{  
    padding: 10px 0;
    background-color:rgba(246,246,246,255);
    height: 100vh;
}


/* FOOTER  */

.sfondo-nero{
    background-color: rgba(35,39,42,255);
    min-height: 546px;
    background-size: contain;
}
